@import url(./reset.css);
@import url(./fonts.css);

:root {
    --white: #fff;
    --white-2: #f7f6fa;
    --blue: #1F64E5;
    --gray: #7F7F7F;
    --gray-2: #4E5468;
    --black: #040415;
    --black-2: #192126;
    --shadow-black: 0px 10px 40px 0px rgba(29, 22, 23, 0.07);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: var(--gray);
    background-color: var(--white-2);
}

section {
    padding-top: 24px;
}

.body-overflow {
    min-height: 100dvh;
    overflow: hidden;
}

.container {
    padding: 0 24px;
}

.df-col {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.mt-16 {
    margin-top: 16px;
}

.photo-56 {
    width: 56px;
    height: 56px;
}

.main {
    padding-bottom: 133px;
    overflow: hidden;
}



.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 17px 23px 36px 24px;
    left: 0;
    right: 0;
    box-shadow: 0px -10px 40px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    border-radius: 40px;
    z-index: 100;
}

.chat-bottom {
    position: fixed;
    width: 100%;
    padding: 32px 23px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
}

.chat-bottom .send-form {
    margin: 0;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 12px;
    justify-content: space-between;
}

.menu__item {
    flex-grow: 1;
    max-width: 56px;
    width: 100%;
}

.menu__link {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--blue);
    border-radius: 12px;
}

.menu__link--active {
    background-color: var(--blue);
    fill: var(--white);
    box-shadow: 0px 10px 20px 0px rgba(51, 154, 240, 0.3);
}

.white-box {
    width: 100%;
    padding: 15px;
    border-radius: 23px;
    box-shadow: var(--shadow-black);
    background-color: var(--white);
}

.white-box-2 {
    display: flex;
    gap: 0 16px;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    padding: 8px 16px 8px 8px;
    border-radius: 36px;
    box-shadow: var(--shadow-black);
}

.blue-v-14 {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 600;
    color: var(--blue);
}

.blue-v-16 {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    color: var(--blue);
}

.black-v-13 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: var(--black);
}

.black-v-14 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: var(--black);
}

.black-v-16 {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 500;
    color: var(--black);
}

.black-v-18 {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--black);
}

.popup {
    height: 100vh;
    overflow: scroll;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 90;
    display: none;
    align-items: center;
    padding: 20px 24px 119px;
}

.popup--visible {
    display: flex;
}

.popup__box {
    width: 100%;
    padding: 24px 15px 15px;
    background-color: var(--white);
    border-radius: 24px;
    text-align: center;
}

.popup__box-top {
    width: 117px;
    height: 117px;
}

.popup__title {
    margin-top: 24px;
}

.popup__text {
    margin-top: 16px;
}

.popup__button {
    margin-top: 24px;
}

.popup__form {
    width: 100%;
}

.popup__form-title {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}

.popup__form-wrapper {
    position: relative;
    margin-top: 16px;
}

.popup__form-input {
    width: 100%;
    padding: 15px 15px 15px 45px;
    background-color: var(--white);
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.popup__select-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup__select-list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    z-index: 101;
    transform: translateY(100%);
    display: none;
}

.popup__select-button--active+.popup__select-list {
    display: block;
}

.popup__form-icon {
    position: absolute;
    top: 15px;
    left: 15px;
}

.popup__form-submit {
    margin-top: 24px;
}

.popup-button * {
    pointer-events: none;
}

.popup__form-time+.popup__box {
    display: none;
}

.popup__form-time--success {
    display: none;
}



.popup__form-time--success+.popup__box {
    display: block;
}

.button {
    display: block;
    width: 100%;
    background-color: var(--blue);
    padding: 11.5px 16px;
    font-size: 14px;
    color: var(--white);
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
}

.title {
    line-height: 1.3;
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    text-align: start;
}

.title span {
    color: var(--blue);
    display: block;
}

.header {
    padding-top: 20px;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 0 19px;
}

.header__user {
    position: relative;
    width: 58px;
}

.header__user-photo {
    width: 100%;
    height: 58px;
    border-radius: 50%;
}

.header__user-online {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.header__text {
    font-size: 14px;
    line-height: 24px;
}

.header__date {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
}

.header__button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgb(4, 4, 21, 0.1);
    border-radius: 50%;
    margin-left: auto;
}

.header__nick {
    font-size: 14px;
    font-weight: 600;
}

.header__online {
    margin-top: 2px;
    display: flex;
    text-wrap: nowrap;
    gap: 0 4px;
    align-items: center;
}

.header__circle {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    background-color: #7DDE86;
    border-radius: 50%;
}

.stories {
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.stories::-webkit-scrollbar {
    display: none;
}

.stories__content {
    display: flex;
    gap: 0 10px;
    padding-left: 24px;
}


.stories__add,
.stories__item {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    flex-shrink: 0;
}

.stories__add {
    background-color: var(--blue);
}

.stories__item {
    padding: 6px;
}

.stories__item--not-open {
    border: 2px solid var(--blue);
}

.stories__user-photo {
    border-radius: 50%;
}


.qr__button {
    display: flex;
    gap: 0 24px;
    align-items: center;
}

.qr__box {
    width: 83px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background-color: var(--white);
    box-shadow: var(--shadow-black);
}

.qr__item {
    width: 69px;
    height: 69px;
    border-radius: 23px;
}


.ticket__term {
    margin-top: 5px;
    color: var(--gray);
}

.ticket__card {
    padding: 15px 20px 15px 15px;
    border-radius: 24px;
    color: var(--blue);
    background-color: var(--white);
}

.ticket__card--blue {
    background-color: var(--blue);
    margin-top: 16px;
    box-shadow: var(--shadow-black);
}


.ticket__card--blue {
    color: var(--white);
}

.ticket__card-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 5px;
}

.ticket__card-title span {
    font-size: 24px;
    display: block;
}

.ticket__card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 10px;
}

.ticket__text {
    max-width: 233px;
    color: var(--gray);
}

.ticket__card--blue .ticket__text {
    color: var(--white);
}

.ticket__card-button {
    width: 28px;
    height: 28px;
    background-color: #BBF246;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket__card--blue .ticket__card-button {
    background-color: #F0EFF3;
}

.ticket__choice {
    margin-top: 24px;
}

.ticket__text-link {
    color: var(--blue);
}

.ticket__card--blue .ticket__text-link {
    color: var(--white);
}

.content .ticket__card-button {
    width: 38px;
    height: 38px;
}

.ticket__price {
    align-self: flex-end;
    font-size: 32px;
    font-weight: 800;
}

.ticket__card-mt {
    margin-top: 11px;
}

.white-card {
    font-size: 14px;
    border-radius: 24px;
    padding: 15px;
    box-shadow: var(--shadow-black);
    background: var(--white) url(../images/card-background.svg) no-repeat center / cover;
}



.white-card__date {
    margin-top: 2px;
    line-height: 1.7;
    font-weight: 500;
}

.white-card__type {
    line-height: 1.7;
    margin-top: 8px;
    color: var(--blue);
    font-weight: 600;
}

.white-card__type span {
    color: var(--black);
}

.white-card__line {
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    opacity: .05;
    margin: 16px 0;
}

.white-card__button {
    border-radius: 24px;
}

.activity__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.activity__item {
    width: calc(50% - 10px);
    background-color: var(--white);
    padding: 15px;
    box-shadow: var(--shadow-black);
    border-radius: 23px;
}



.blue-card {
    padding: 17px 20px 10px;
    border-radius: 24px;
    background: var(--blue) url(../images/card-background.svg) no-repeat center / cover;
    color: var(--white-2);
}

.blue-card__title {
    margin-top: 16px;
    line-height: 1.3;
}

.blue-card__text {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.blue-card__text span {
    font-size: 24px;
}

.blue-card__wrapper {
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blue-card__train {
    font-size: 14px;
}

.blue-card__count {
    font-size: 16px;
}

.blue-card__indicator {
    margin-top: 6px;
    height: 4px;
    border-radius: 24px;
    background: rgb(0, 0, 0, 0.1);
}

.blue-card__indicator-line {
    height: 100%;
    border-radius: 24px;
    background-color: var(--white-2);
}

.recipes {
    overflow: hidden;
    padding-left: 24px;
}

.recipes__swiper {
    margin-top: 16px;
    overflow: visible;
}

.recipes__slide {
    max-width: 200px;
}

.recipes__item {
    padding: 94px 20px 20px;
    border-radius: 22px 100px 22px 22px;
    position: relative;
}



.recipes__dishes-count {
    margin-top: 5px;
    line-height: 1.5;
}

.recipes__button {
    display: inline-block;
    color: var(--white);
    margin-top: 15px;
    border-radius: 50px;
    padding: 6px 24px;
    font-weight: 600;
    line-height: 1.5;
}

.recipes__image {
    position: absolute;
    top: 0;
    right: 0;
}

.recipes__item--green {
    background: linear-gradient(-43.43deg, rgb(0, 255, 102, .2) 0%, rgb(0, 240, 255, .2) 127.455%);
}

.recipes__item--green .recipes__button {
    background: linear-gradient(-43.43deg, rgb(0, 255, 102) 0%, rgb(0, 240, 255) 124.508%);
}

.recipes__item--purple {
    background: linear-gradient(-43.43deg, rgb(193, 80, 246, .2) 0%, rgb(238, 164, 206, .2) 127.455%);
}


.recipes__item--purple .recipes__button {
    background: linear-gradient(-43.51deg, rgb(204, 143, 237) -84.078%, rgb(107, 80, 246) 142.479%);
}


.recipes__slide.swiper-slide-prev {
    padding-right: 10px;
}

.birthdays__list {
    display: flex;
    justify-content: center;
    gap: 0 28px;
}

.birthdays__item {
    text-align: center;
}

.birthdays__name {
    margin-top: 5px;
}

.birthdays__date {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    margin-top: 3px;
    text-wrap: nowrap;
}

.choose__button {
    display: flex;
    align-items: center;
    gap: 0 10px;
    border-radius: 15px;
}

.choose__arrow {
    margin-left: auto;
}

.list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
}

.list__button {
    width: 100%;
    display: flex;
    gap: 0 16px;
    align-items: center;
    position: relative;
}

.list__time {
    padding: 2px 8px;
    background-color: var(--black-2);
    color: var(--white);
    position: absolute;
    top: -15px;
    right: 18px;
    font-size: 10px;
    border-radius: 0 0 6px 6px;
}

.list__content {
    height: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    overflow: hidden;
}

.list__content--g {
    gap: 11px 0;
}

.list__mt {
    margin-top: 13px;
}

.list__button--active+.list__content {
    margin-top: 16px;
    height: auto;
}

.circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--blue);
}

.list__tasks {
    border-bottom: 1px solid #2121230d;
}

.list__task {
    display: flex;
    align-items: center;
    gap: 0 5px;
    padding: 9px 0;
    border-top: 1px solid #2121230d;
}

.list__bottom {
    border-bottom: 1px solid #2121230d;

}

.list__edit {
    margin-left: auto;
}

.list__task-value {
    font-size: 14px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: var(--black-2);
    margin-left: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans__comment {
    font-size: 13px;
    padding-bottom: 16px;
    border-bottom: 1px solid #2121230d;
}

.signin__title {
    margin: 24px 0 16px;
}

.signin__radio {
    display: none;
}

.signin__graphics {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.signin__graphic {
    position: relative;
}


.signin__label {
    padding-left: 35px;
    display: block;
}

.signin__circle {
    content: '';
    width: 21px;
    height: 21px;
    border: 1.2px solid rgb(165, 163, 176);
    position: absolute;
    left: 0px;
    top: 0;
    border-radius: 50%;
}


.signin__radio:checked+.signin__circle {
    border: 1.2px solid var(--blue);
    display: flex;
    align-items: center;
}

.signin__radio:checked+.signin__circle::before {
    content: '';
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--blue);
}

.graphic-time {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 5px;
    color: #1d1617;
}

.trains__top {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(33, 33, 35, 0.05);
}

.trains__photo {
    width: 80px;
    height: 80px;
}

.trains__name {
    font-weight: 600;
    line-height: 24px;
}

.trains__position {
    font-size: 10px;
}

.calendar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.calendar__top-button {
    width: 30.7px;
    height: 30.7px;
    border: 0.9px solid rgb(255, 255, 255);
    box-shadow: 0px 10px 40px 0px rgba(29, 22, 23, 0.07);
    background: rgb(255, 255, 255);
    border-radius: 8px;
}

.calendar__top-month {
    color: #222B45;
    font-size: 18px;
}

.calendar__month {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
    gap: 17px 5px;
}

.calendar__item:not(.calendar__item--month) {
    text-align: center;

}

.calendar__item {
    font-size: 13.57px;
    color: rgb(143, 155, 179);
}



.calendar__item--active-day {
    color: #222b45;
}

.calendar__item--week-day {
    font-size: 11.76px;
    color: rgb(143, 155, 179);
    margin-bottom: 6px;
}

.calendar__button {
    width: 27px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calendar__button--active {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 9px;
}

.calendar__circles {
    margin-top: 2.9px;
    display: flex;
    justify-content: center;
    gap: 0 1.88px;
    font-size: 0;
}

.calendar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 101;
    transition: bottom 0.3s ease-in-out;
}

.calendar__swiped-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__swiped-content {
    margin-top: 34px;
}

.calendar__swiped-month {
    margin-bottom: 25px;
    font-weight: 500;
}

.calendar__swiped-line {
    background-color: #F2F4F7;
    width: 100%;
    height: 1px;
    margin: 30px 0;
}

.swiped {
    height: 72vh;
    width: 100%;
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--white);
    border-radius: 24px 24px 0 0;
    padding: 0 24px 24px;
    transform: translateY(100%);
    transition: .3s all ease-in;
    overflow-y: scroll;
}

.swiped--active {
    transform: translateY(0);
}

.swiped__button {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 8px 0 15px;
}

.swiped__icon {
    background-color: #E4E7EC;
    width: 30px;
    margin: 0 auto;
    height: 4px;
    border-radius: 12px;
}

.train-count {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(33, 33, 35, 0.05);
}



.train-count__num {
    margin-top: 2px;
    font-size: 14px;
}

.train-count__end {
    margin-left: auto;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0 5px;
    padding-right: 8px;
    color: #221111;
}

.train-count__item--active {
    color: var(--white);
    background-color: var(--blue);
}

.train-count__item--active .train-count__end,
.train-count__item--active .train-count__name {
    color: var(--white);
}

.comments__item-top {
    display: flex;
    gap: 0 16px;
    align-items: center;
}


.comments__item-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.comments__item-text {
    margin-top: 10px;
    font-weight: 400;
}

.comments__item-date {
    margin-top: 10px;
    text-align: end;
}

.send-form {
    margin-top: 24px;
    display: flex;
    gap: 0 16px;
    align-items: center;
}

.send-form__wrapper {
    position: relative;
    flex-grow: 1;
}

.send-form__input {
    width: 100%;
    height: 44px;
    background-color: var(--white);
    padding: 12px 20px;
    border-radius: 48px;
    border: 1.5px solid rgba(127, 127, 127, 0.15);
    padding-right: 50px;
}

.send-form__button {
    position: absolute;
    top: 10px;
    right: 20px;
}

.send-form__submit {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    flex-shrink: 0;
}

.chat__date {
    text-align: center;
}

.chat__message {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0 8px;
    margin-top: 16px;
}

.chat__user-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.chat__box {
    border-radius: 0px 24px 24px 24px;
    box-shadow: var(--shadow-black);
    background-color: var(--white);
    padding: 16px;
    flex-grow: 1;
}

.chat__message--send .chat__box {
    flex-grow: 0;
    margin-left: auto;
    color: var(--white);
    border-radius: 24px 24px 0px 24px;
    box-shadow: none;
    background-color: var(--blue);
}

.chat__text {
    font-size: 16px;
    line-height: 1.5;
}

.search-form {
    position: relative;
}

.search-form__input {
    width: 100%;
    padding: 13px 13px 13px 38px;
    background-color: var(--white);
    border-radius: 36px;
    font-size: 14px;
}

.search-form__icon {
    position: absolute;
    left: 12px;
    top: 13px;
}

.library__title {
    margin-top: 24px;
}

.library__exercise-name {
    color: var(--black-2);
}

.library__time {
    margin-top: 5px;
}

.library-card__top {
    position: relative;
}

.library-card__video {
    object-fit: fill;
    height: 174px;
}

.library-card__play {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BBF246;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.library__title {
    margin-top: 24px;
}

.library__texts {
    gap: 12px 0;
}

.library__button {
    margin-top: 24px;
}

.content-choice__box {
    padding: 2px;
    border-radius: 100px;
    background: rgb(11, 80, 209, .1);
    display: flex;
}

.content-choice__button {
    flex-grow: 1;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    padding: 3px 13px;
    line-height: 24px;
}

.content-choice__button--active {
    border-radius: 100px;
    background-color: var(--white);
    color: var(--blue);
}

.content {
    display: none;
}

.content--active {
    display: block;
}


.news__top {
    display: flex;
    gap: 0 15px;
}

.news__photo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    flex-shrink: 0;
}

.news__name {
    font-weight: 600;
    line-height: 24px;
}

.news__position {
    color: var(--gray);
    font-size: 10px;
}

.news__image {
    display: block;
    width: 100%;
}

.date {
    overflow: hidden;
}

.date__swiper {
    margin-top: 22px;
    padding: 0 24px 18px;
}

.date__slide {
    max-width: 47px;
}

.date__day {
    font-family: "Lato";
    font-size: 14px;
    box-shadow: var(--shadow-black);
    padding: 6px 14px;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    color: var(--black-2);
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 35, 0.05);
    background: var(--white-2);
    position: relative;
}

.date__day--active {
    background-color: var(--blue);
    color: var(--white);
}

.date__day--active::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--blue);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: -12px;
}

.graphic__name {
    color: #1D1617;
}

.graphics__participant {
    margin-top: 3px;
}

.graphics__participant span {
    color: var(--blue);
}

.link-blue {
    margin-left: auto;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #A5C1F5;
}

.graphics-card__item {
    display: flex;
    gap: 0 10px;
    align-items: center;
}

.graphics-card__button {
    margin-top: 24px;
}

.graphics-card__wrapper {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid rgba(33, 33, 35, 0.05);
}

.graphics-card__wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graphics-card__participants {
    color: var(--blue);
    font-weight: 600;
    font-size: 18px;
}

.sales__card {
    position: relative;
    min-height: 186px;
    margin-top: 12px;
    color: var(--white);
    padding: 50px 15px;
}

.sales__background {
    background-color: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    z-index: -1;
    overflow: hidden;
}

.sales__background::after {
    content: '';
    position: absolute;
    width: 221px;
    height: 221px;
    background-color: #0B50D1;
    bottom: -128px;
    right: -58px;
    z-index: 1;
    border-radius: 50%;
}

.sales__image {
    width: 145px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.sales__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;
}

.popular__recipes {
    color: #B6B4C2;
    font-size: 13px;
}


.recipes-card {
    padding-top: 0;
}



.recipes-card__image {
    width: 100%;
    display: block;
    border-radius: 24px 24px 0 0;
}

.recipes-swiped {
    transform: none;
    height: 87px;
    overflow: hidden;
}

.recipes-swiped--open {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

}

.recipes-swiped__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipes-swiped__author {
    margin-top: 5px;
    font-size: 14px;
}

.recipes-swiped__author-link {
    color: var(--blue);
}

.recipes-swiped__nutrition {
    margin-top: 24px;
}

.recipes-swiped__swiper {
    margin-top: 24px;
}

.recipes-swiped__slide.swiper-slide {
    width: auto;
}

.recipes-swiped__nutrition-item {
    padding: 10px 8px;
    border-radius: 12px;
    background: rgb(31, 100, 229, .2);
    display: flex;
    gap: 0 5px;
    align-items: center;
    font-size: 10px;
    color: #1D1617;
}


.recipes-swiped__description,
.recipes-swiped__ingredients,
.recipes-swiped__step {
    margin-top: 24px;
}

.recipes-swiped__text {
    max-width: 315px;
}

.recipes-swiped__text-link {
    color: var(--blue);
}


.recipes-swiped__right {
    text-wrap: nowrap;
}


.recipes-swiped__ingredients-slide {
    max-width: 80px;
}

.recipes-swiped__box {
    padding: 14px;
    background-color: #F7F8F8;
    border-radius: 12px;
}

.recipes-swiped__box-image {
    border-radius: 12px;
}

.recipes-swiped__ingredients-name {
    margin: 4px 0 3px;
    color: var(--black);
}

.recipes-swiped__ingredients-gram {
    font-size: 10px;
}

.recipes-swiped__list {
    gap: 5px 0;
}

.recipes-swiped__item {
    display: flex;
    gap: 0 12px;
}

.recipes-swiped__point {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.recipes-swiped__num {
    font-size: 14px;
    line-height: 21px;
    display: block;
    width: 18px;
}

.recipes-swiped__item-text {
    margin-top: 7px;
    line-height: 1.5;
}

.recipes-swiped__item:last-child .recipes-swiped__point::after {
    display: none;
}

.recipes-swiped__point::after {
    content: '';
    background-image: url(../images/line.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    bottom: -4px;
    height: 44px;
    transform: translate(-50%, 100%);
    width: 1px;
    height: 36px;
}


.recipes-swiped__item--active .recipes-swiped__point::after {
    content: '';
    background-image: url(../images/line-blue.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.recipes-swiped__item--active .recipes-swiped__num {
    color: var(--blue);
}

.account {
    padding-top: 20px;
}

.account__top {
    text-align: center;
}

.account__top-photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid var(--blue);
}

.account__top-link {
    display: inline-block;
    position: relative;
}

.account__pencil {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 16px;
    background-color: var(--blue);
}

.account__wrapper {
    text-align: center;
}

.account__name {
    text-align: center;
    font-size: 14px;
}

.account__email {
    margin-top: 4px;
}

.account__buttons {
    margin-top: 24px;
}

.account__button {
    display: block;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 0 24px;
    border-radius: 24px;
    box-shadow: var(--shadow-black);
    color: var(--black);
}

.account_right {
    margin-left: auto;
}

.account__line {
    border: 1px solid rgb(33, 33, 35);
    opacity: 0.05;

}

.details__title {
    margin-top: 24px;
}

.form__item {
    margin-top: 24px;
}

.form__item-name {
    font-size: 14px;
}

.form__input {
    width: 100%;
    margin-top: 8px;
    padding: 14px 16px;
    border-radius: 24px;
    box-shadow: var(--shadow-black);
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}


.form__date {
    color: var(--blue);
}

.form__arrow {
    margin-left: auto;
}

.form__select {
    display: flex;
    justify-content: space-between;
}

.form__button {
    margin-top: 24px;
}

.payment__card {
    margin-top: 24px;
    padding: 22.88px;
    border-radius: 15.25px;
    background: linear-gradient(135.00deg, rgb(254, 212, 180) 0%, rgb(59, 185, 161) 100%);
    font-family: 'Plus Jakarta';
    color: var(--white);
    font-weight: 700;
}

.payment__card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15.25px;
}

.payment__card-num {
    margin-top: 35px;
    font-size: 24px;
}

.payment__bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.payment__bottom-value {
    font-size: 14px;
}

.payment__bottom-value span {
    text-wrap: nowrap;
    display: block;
    font-size: 12px;
    font-weight: 400;
}

.payment__button {
    display: block;
    width: 100%;
    margin-top: 24px;
    padding: 11.5px;
    border-radius: 12px;
    color: rgb(217, 58, 58);
    font-size: 14px;
    font-weight: 600;
    background: rgba(217, 58, 58, 0.1);
}

.notification__box {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.notification__text {
    margin-top: 4px;
}

.switch {
    width: 32px;
    height: 16px;
    border-radius: 10px;
    background-color: var(--gray);
    padding: .8px;
    position: relative;
    transition: .4s all ease;
}

.switch--active {
    background-color: #34E0A1;
}

.switch__circle {
    background-color: var(--white);
    height: 14px;
    width: 14px;
    position: absolute;
    top: 0.8px;
    right: .8px;
    border-radius: 50%;
    pointer-events: none;
    transition: .4s all ease;

}


.switch--active .switch__circle {
    right: calc(32px - 14.8px);
}

.offer__box {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.offer__icon {
    transform: rotate(90deg);
}

.offer__text {
    color: var(--blue);
    margin-top: 3px;
}